$nearly-black: #3d3d3d
  
.card
  background-color: ivory
  border-color: $nearly-black 
  border-style: solid
  border-width: 2px
  border-radius: 12px
  display: block
  height: 80vh
  margin: 1rem
  margin-left: auto
  margin-right: auto
  min-height: 240px
  min-width: 160px
  max-width: 260px 
  max-height: 360px
  text-align: center
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3)
  width: 90vw
  
.card-red
  color: #f52011
.card-black
  color: $nearly-black    
.card-values
  font-size: 3rem
  display: block
  margin-top: 2rem

.card-rule
  color: $nearly-black
  font-size: 1.5rem
  margin-top: 1.5rem
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3)

@media only screen and (min-width: 576px)
  .card
    margin-left: 1rem
    margin-right: 1rem
    width: 260px

