.app
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif

.button-draw, .button-suffle
  border-radius: 12px
  display: block
  font-size: 1.2rem
  font-weight: bold
  margin-left: auto
  margin-right: auto
  padding: 0.6rem
  text-align: center

.button-draw
  background-color: #78c0ff
  border-color: #3e67b1
  color: #033238

.button-suffle
  background-color: #ff9731
  border-color: #502c04
  color: #1f1506

@media only screen and (min-width: 576px)
  .button-draw, .button-suffle
    display: inline
    margin-left: 1rem
  
